
float-button{
  font-size: 42px;
  font-family: monospace;
  color: #fff;
  background: $secondary-color;
  
  position: fixed;
  bottom: 20px;
  right: 20px;
  
  z-index: 100;
  
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  @include user-select(none);

  
  width: 55px;
  height: 55px;
  border-radius: 50%;
  text-align: center;
  
  line-height: 55px;
  vertical-align: middle;
  
  @include shadow-6dp();
}