<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta author="Eric Zanchi">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#8BC34A" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>I Love My Friends 9000</title>
    <link rel="icon" href="/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div id="app">
      <component :is="dialog"
                 @changedialog="changedialogReceiver"
                 @changepage="changepageReceiver"></component>
      <component :is="page"
                 @changedialog="changedialogReceiver"
                 @changepage="changepageReceiver"></component>
    </div>
    <script src="/js/bundle.js"></script>
  </body>
</html>
